
<!DOCTYPE html>
<html>
<%- include('header') -%>
<body>
    <div id='h1'>
       <h1 class='titulo'>Pagina Principal</h1> 
    </div>
    
    
    <div id='contenedorP'>

    <aside>
        <img src="img/cc.jpg" class="imgg">
        <img src="img/mm.jpg" class="imgg">
        <img src="img/jj.jpg" class="imgg">
    </aside>
    
    <section>
       
       <div id='ContenedorImgNombre'>
        <img src="/img/angel.jpg" class='img'>
        <h2>Angel Cutt</h2>
        <p>Cedula: 30.428.597</p>
        <p>Sección: 2</p> 
       </div>
       <p>¡No hay límites para lo que puedes lograr con la programación de servidores web utilizando Node.js! Cada línea de código que escribas es un paso hacia la creación de aplicaciones web poderosas y escalables. Recuerda siempre mantener tu motivación en alto, porque cada desafío que enfrentes te hará crecer como desarrollador. No importa si eres principiante o experto, cada error es una oportunidad para aprender y mejorar tus habilidades.</p>
    </section>

    </div>

  <a href='/login' id='botonProductos'>Admin</a>

   <%- include('footer') -%>
  
</body>

</html>